<form novalidate [formGroup]="updatePasswordForm" (submit)="updatePassword()">
  <div class="grid">
    <div class="col-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
        <input pInputText pPassword [feedback]="false" [showPassword]="(showOldPassword$ | async) === true"
               placeholder="Old Password" type="password" formControlName="old_password"/>
        <button pButton type="button" icon="pi pi-eye-slash" *ngIf="(showOldPassword$ | async) === true"
                class="p-inputgroup-addon p-button-outlined"
                (click)="toggleOldPasswordView()"></button>
        <button pButton type="button" icon="pi pi-eye" *ngIf="(showOldPassword$ | async) === false"
                class="p-inputgroup-addon p-button-outlined"
                (click)="toggleOldPasswordView()"></button>
      </div>
    </div>
    <div class="col-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
        <input pInputText pPassword [showPassword]="(showNewPassword$ | async) === true" placeholder="New Password"
               type="password" formControlName="new_password"/>
        <button pButton type="button" icon="pi pi-eye-slash" *ngIf="(showNewPassword$ | async) === true"
                class="p-inputgroup-addon p-button-outlined"
                (click)="toggleNewPasswordView()"></button>
        <button pButton type="button" icon="pi pi-eye" *ngIf="(showNewPassword$ | async) === false"
                class="p-inputgroup-addon p-button-outlined"
                (click)="toggleNewPasswordView()"></button>
      </div>
    </div>
    <div class="col-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
        <input pInputText placeholder="Repeat New Password" type="password" formControlName="new_password_confirm"/>
      </div>
    </div>
    <div class="col-12">
      <div class="p-inputgroup">
        <button pButton type="submit"
                [disabled]="(applicationStateService.isProcessing$ | async) || updatePasswordForm.invalid || !passwordMatches()">
          Change
          Password
        </button>
      </div>
    </div>
  </div>
</form>
